/* CSS declarations go here */
.new-experiment input {
  box-sizing: border-box;
  padding: 10px 0;
  background: lightgrey;
  border: none;
  width: 90%;
  padding-left: 20px;
  padding-right: 80px;
  font-size: 1em;
  margin-left:5%;
  margin-right:5%;
}

.new-experiment input:focus {
  background: lightyellow;
}

.NavContainer {
  background: darkblue;
}

.NavActive {
  margin-right:20%;
}

.NavBar {
  display: flex;
  height: 40px;
}

.NavBar {
}

.NavBarLeft {
  flex: 1;
  justify-content: left;
}

.NavBarRight {
  flex: 0 0 auto;
  justify-content: right;
}

/*
.accounts-dialog {
  justify-content: right;
  margin-right:30%;
}
*/