sudo: false
env:
  - CXX=g++-4.8

language: node_js
node_js: "stable"

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-4.8
    - g++-4.8

before_install:
  - curl https://install.meteor.com | /bin/sh
  - export PATH="$HOME/.meteor:$PATH"
  - meteor update --release 1.4.3-rc.3

services:
  - mongodb

cache:
  directories:
    - node_modules

before_script:
  - meteor npm install
  - npm --version
  - meteor --version
  - cat /home/travis/build/kevinrue/Opera/.meteor/versions

script:
  - meteor build $HOME/opera.tar.gz
  - meteor npm test
