
html {
    height: 100%
}

body {
  background-color: #f6f7f9;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#page {
	margin-left: 180px;
}

.main-panel {
  float: right;
  width: 100%;
  // margin-left: 1%;
}

.admin-panel {
	float: left;
  width: 175px;
  margin-left: -175px;
  // border-right: solid darkblue;
  // border-bottom: solid darkblue;
}

#clearingdiv {
	clear: both;
}

.record-not-found {
  text-align: center;
}