
.navbar {
  background: darkblue;
  margin-bottom: 0px;
}

.nav.navbar-nav li a {
  color: white;
}

#navbar-signin {
	margin-right: 150px;
}

.nav.navbar-nav {
	li {
		a:focus, a:hover{
			color: yellow;
		}
	}
}

.accounts-dialog {
  background: lightblue;
}
