
.raw-fastq-record-table {
  width: 90%;
  margin-left: 5%;
}

.record-not-found {
	text-align: center;
}

.filepath-input {
	width: 100%;
}

.text-edited {
	background: orange;
}

.profile-field-col {
	width: 10%;
}

.profile-field-value {
	width: 90%;
}