
.raw-fastq-record-table {
  width: 95%;
  // margin-left: 5%;
}

.record-not-found {
	text-align: center;
}

.profile-field-col {
	width: 10%;
}

.profile-field-value {
	width: 85%;
}

.profile-field-check {
	width: 50px;
}
